body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
  color: #575757;
  font-style: bold;
}
h2 h3 h4 p {
  color: #575757;
}
span {
  color: orange;
}
.flexible {
  display: flex;
  margin-bottom: 150px;
  margin-top: 50px;
}
.half-width {
  width: 50%;
  height: 30%;
  padding-left: 10%;
  margin-top: 0px;
}

.link-btn {
  text-decoration: none;
  background-image: linear-gradient(to right, orange, tomato);
  padding: 2% 8%;
  color: white;
  border-radius: 30px;
  font-weight: bold;
}
.bottom-section {
  margin-top: 50px;
}

.half-width img {
  width: 100%;
  max-height: auto;
  margin-top: 30px;
}
.card-container {
  display: flex;
  margin: auto;
}
.card {
  width: 30%;
  padding-left: 30px;
  box-shadow: 10px 10px 10px 10px gray;
  margin-left: 35px;
  margin-right: 35px;
  border-radius: 10px;
}

.card img {
  max-width: 320px;
  max-height: auto;
  align-items: center;
  border-radius: 10px;
  margin-top: 15px;
}

.text {
  text-align: center;
  color: #575757;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
}

footer {
  background-color: #0b0d17;
  text-align: center;
  margin-top: 100px;
}
.footer-text {
  color: blanchedalmond;
  padding-top: 10px;
  padding-bottom: 30px;
}

#f1 {
  color: orange;
}
#f2 {
  color: #575757;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
